<html>
    <head>
        <title>Cotações</title>
        <link rel="icon" href="/img/icon.png" />
        <link href="/css/style.css" rel="stylesheet" />
        
    </head>

    <body>
        <div class="main-content">
        {{> header}}
        <p>Procure por um ativo</p>
        <form>
            <input type="text" placeholder="Código do ativo">
            <button>Buscar</button>
        </form>

        <h3></h3>
        <p>PRICE: <span id="price"></span></p>
        <p>PRICE OPEN: <span id="price_open"></span></p>
        <p>DAY HIGH: <span id="day_high"></sspan></p>
        <p>DAY LOW: <span id="day_low"></span></p>

       </div>
         {{> footer}}
    </body>
    <script type="text/javascript" src="/js/app.js"></script>
</html>